{{ 'header.css' | asset_url | stylesheet_tag }}
<div class="nav-cont">
  <h1>{{ shop.name }}</h1>
  <ul class="nav-links">
    {% for link in linklists.main-menu.links %}
      <a href="{{link.url}}" class="nav-link">
        <li>{{ link.title }}</li>
      </a>
    {% endfor %}
  </ul>
  <a href="{{routes.cart_url}}">
    {% render 'icon-shopping-bag' %}
  </a>
</div>